<div id="container">
  <h1>{{title}}</h1>
  <h2 style="color: white;">Price: ${{price}}</h2>
  <p>
    {{text}}
  </p>
  {{#if imgSrc}}
    <img class="photos" src="/images/{{imgSrc}}" alt="{{title}}" />
  {{else}}
    <img
      class="photos"
      src="http://via.placeholder.com/640x360"
      alt="{{title}}"
    />
  {{/if}}
</div>

<div>
  {{#if stores}}
    <h4 style="color: white;">The product is available in the following stores</h4>
    <div class="row">
      <ul>
        <li class="stores">
          {{stores}}
          <a class="links" href="#">More details!</a></li>
      </ul>
    </div>
  {{else}}
    <h3 style="color: red;">Currently not in stock</h3>
  {{/if}}
</div>