<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lightsabers</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <nav>
        <ul id="navbar">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/siths">Siths</a></li>
          <li><a href="/jedis">Jedis</a></li>
          <li><a href="/guns">Guns</a></li>
          <li><a href="/sluggos">Sluggos</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <div id="container">
      <h1>{{title}}</h1>
      <h2>Price: ${{price}}</h2>
      <p>
        {{text}}
      </p>
      {{#if imageFile}}
        <img class="photos" src="/images/{{imageFile}}" alt="{{title}}" />
      {{else}}
        <img
          class="photos"
          src="http://via.placeholder.com/640x360"
          alt="{{title}}"
        />
      {{/if}}
    </div>

    <div>
      {{#if stores}}
        <h4 style="color: white;">The product is available in the following
          stores</h4>
        <div class="row">
          <ul>
            {{#each stores}}
              <li class="stores">
                {{this}}
                <a class="links" href="#">More details!</a></li>
            {{/each}}
          </ul>
        </div>
      {{else}}
        <h3 style="color: red;">Currently not in stock</h3>
      {{/if}}
    </div>
  </body>
</html>